.login {
  input:not([type="checkbox"]) {
    background-color: transparent !important;
    width: 100% !important;
    padding: 17px 30px !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    @media screen and (max-width: 512px) {
      font-size: 14px !important;
      padding: 15px 30px !important;
    }
  }
  .border-style {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      294deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0.08309261204481788) 100%
    );
    background-clip: border-box;
  }
}
