.landing-page {
  height: 100vh;
  background: rgb(79, 170, 157);
  background: linear-gradient(
    138deg,
    rgba(79, 170, 157, 0.2623643207282913) 20%,
    rgba(47, 13, 77, 0.7581626400560224) 100%
  );
  @media screen and (max-width: 1024px) {
    height: 100%;
  }
  .image {
    background-image: url("../../../public/assets/Coupon\ Preview.svg");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 33.3vh;
    @media screen and (max-width: 1024px) {
      height: 100%;
    }
  }
  .steps-style {
    background-color: #a1a1a150;
  }
  .border-style {
    border-color: #a1a1a178;
  }
  .btn-style {
    background-color: #432e63;
  }
  .bg-style {
    background-color: rgba(255, 255, 255, 0.095);
  }
  .text-border {
    text-shadow: -1.3px -1.3px 0 black, /* Top-left */ 1.3px -1.3px 0 black,
      /* Top-right */ -1.3px 1.3px 0 black,
      /* Bottom-left */ 1.3px 1.3px 0 black; /* Bottom-right */
  }
}

::ng-deep {
  .p-dialog {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }
  .p-overlay-mask {
    backdrop-filter: blur(40px); /* Blur the background */
    background-color: rgba(0, 0, 0, 0.4); /* Add a semi-transparent overlay */
  }
  .p-password {
    width: 100% !important;
  }
  .p-password-input {
    background-color: transparent !important;
    width: 100% !important;
    padding: 17px 30px !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    @media screen and (max-width: 512px) {
      font-size: 14px !important;
      padding: 15px 30px !important;
    }
  }
  eyeicon {
    margin-right: 15px;
    cursor: pointer;
  }
  eyeslashicon {
    margin-right: 15px;
    cursor: pointer;
  }
}
