/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';
body {
  height: 100vh;
  background: rgb(79, 170, 157);
  background: linear-gradient(
    138deg,
    rgba(79, 170, 157, 0.2623643207282913) 20%,
    rgba(47, 13, 77, 0.7581626400560224) 100%
  );
  @media screen and (max-width: 1024px) {
    height: 100%;
  }
}
